* { padding: 0; margin: 0; }

body {
     margin: 0px;
     text-align: center;
     font-family:"Trebuchet MS", "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

h1 {
   color: #000;
   background-color: 000;
   padding: 1px;
   margin: 0px;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

a { border-bottom: #000 dotted 1px;}

#wrapper {
   width: 900px;
   margin: 0 auto;
   text-align: left;
}

h1#masthead{
        height:0px;
        background-color:#cccccc;
        margin:0px;
        padding:0px;

}

h1#masthead span {
            position: relative;
            left: -3000px;
}

#nav { border-bottom: #000 solid 1px; background-color: #eee;}
#subnav {float: right;}
#sn1 {float: left;}

#nav a { border-bottom: none;}
#nav a:hover {background-color: #000; color: #fff;}

ul#nav {
background-color: #000;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
text-align: center;
list-style: none;
display: block;
width: 900px;
margin: 0;
}

ul#nav li {
   display: inline;
   font-size: 1.5em;
   padding-right: 25px;
}

ul#nav a {
   color: #cccccc;
   border-bottom: none;
}

ul#nav a:hover {
  color: #ffcc33;
}

#footer{
   height:50px;
   background-color:#cccccc;
   margin:0px;
}

#sidebar {
 display: block;
 color: #333;
 padding: 10px 0 10px 15px;
 margin: 0px;
 width: 200px;
 float: left;
}

#main {
 float: left;
 color: #333;
/* border: 1px solid red;*/

 width: 670px;
 display: block;
 margin: 0;
 padding: 10px 0;
}

.clear { clear: both; background: none; }

#faux {
/* background: url(/site_media/images/faux-bg.png) top right repeat-y; */
 margin-bottom: 0px;
 overflow: auto; 
 width: 100%
 margin: 0;
 width: 900px;
}


.thumb {
               float: left;
               margin: 0px;
	       height: 100px;
}
   
.thumb a {border:none;}
.thumb img {
/*border: #000 solid 1px;  */
border:none;
border-left: none;

} 

.gthumb {
   float: left;
   width: 220px;
   height: 260px;
   margin: 2px;
}

.gthumb a {border: none;}

.gthumb h3 {margin-top: 0px;}

.gallery {width: 900px; height: 100px;overflow: hidden;
border: #000 solid 1px;
}
.strip {/*border-left: #000 solid 1px; */
width: 10000px; height: 100px;}

p { margin-top: 1em;}

a { color: #000; text-decoration: none;}

h2 { font-size: 16px; border-top: #000 solid 1px; margin-top: 2em;}
h3 { font-size: 14px; margin-top: 1em;}
 
.invisible { display: none; }
            
tr.even td {background-color: #ffc;}
th { vertical-align: top; text-align: left; background-color: #eee;}
textarea { border: #000 solid 1px;}
#comment-form textarea {width: 100%; height: 150px;
}

.dragging { cursor: move; background-color: lightyellow;}
