Django==3.2.3

pytz==2021.1

Markdown==2.6.11 # pyup: <3.0

psycopg2-binary==2.8.6

chardet==4.0.0
idna==3.1

certifi==2020.12.5

urllib3==1.26.4

requests==2.25.1

coverage==5.5

pep8==1.7.1
pyflakes==2.3.1
mccabe==0.6.1
pycodestyle==2.7.0

configparser==5.0.2
flake8==3.9.2
statsd==3.3.0
gunicorn==20.1.0
six==1.16.0
boto3==1.17.82
python-dateutil==2.8.1
sqlparse==0.4.1
raven==6.10.0

django-statsd-mozilla==0.4.0
django-markwhat==1.6.2
django-appconf==1.0.4
django-compressor==2.4.1
django-storages==1.11.1
django-cacheds3storage==0.2.2
django-smoketest==1.1.2

django-debug-toolbar==3.2.1

django-waffle==2.2.0

django-jenkins==0.110.0

thraxilsettings==3.3.1

asgiref==3.3.4
