{% extends "base.html" %}
{% load markup %}
{% block bodyclass %}index{% endblock %}
{% block content %}

<div class="gallery">
<div class="strip">{% for image in images %}
<div class="thumb">
<a href="{{image.get_absolute_url}}" title="{{image.title}}"><img src="http://apomixis.thraxil.org/image/{{image.ahash}}/100h/{{image.id}}{{image.extension}}"
			height="100" /></a>
</div>{% endfor %}<div class="clear"/></div>
</div></div>

<p>Myopica is the art of Anders Pearson.
All artwork is in the Public Domain. <a href="/books/">Books are available</a>.
</p>

<h2>Galleries</h2>
{% for gallery in galleries %}

<div class="gthumb">


<a href="{{gallery.get_absolute_url}}"><img src="http://apomixis.thraxil.org/image/{{gallery.first_image.ahash}}/200s/{{gallery.first_image.id}}{{gallery.first_image.extension}}" width="200" height="200" alt="{{gallery.first_image.title}}"/></a>
<h3><a href="{{gallery.get_absolute_url}}">{{ gallery.title }}</a></h3>
</div>


{% endfor %}
<div class="clear"></div>

{% endblock %}
