{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}
{% block bodyclass %}index{% endblock %}
{% block content %}

<div class="gallery">
<div class="strip">{% for image in images %}
<div class="thumb">{% thumbnail image.image 100000x100 as thumb %}
<a href="{{image.get_absolute_url}}" title="{{image.title}}"><img src="{{ thumb.absolute_url }}" width="{{thumb.width}}" height="{{thumb.height}}" alt="{{image.title}}"/></a>
</div>{% endfor %}<div class="clear"/></div>
</div></div>

<p>Myopica is the art of Anders Pearson.
All artwork is in the Public Domain. <a href="/books/">Books are available</a>.
</p>

<h2>Galleries</h2>
{% for gallery in galleries %}

<div class="gthumb">


{% thumbnail gallery.first_image.image 200x200 crop as thumb %}

<a href="{{gallery.get_absolute_url}}"><img src="{{ thumb.absolute_url }}" width="{{thumb.width}}" height="{{thumb.height}}" alt="{{gallery.first_image.title}}"/></a>
<h3><a href="{{gallery.get_absolute_url}}">{{ gallery.title }}</a></h3>
</div>


{% endfor %}
<div class="clear"></div>

{% endblock %}
