{% extends "base.html" %}
{% load markup %}
{% block js %}
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="/site_media/js/dragdropreorder.js"></script>
{% endblock %}
{% block bodyclass %}index{% endblock %}
{% block content %}

<h3>Gallery: {{gallery.title}}</h3>


<div id="drag-container">
{% for image in gallery.all_images %}
<div class="draggable" id="image-{{image.id}}">
<img src="http://apomixis.thraxil.org/image/{{image.ahash}}/100s/{{image.id}}{{image.extension}}"
			height="100" width="100"/>
</div>{% endfor %}
</div>
<div class="clear"></div>
{% endblock %}
