{% extends "base.html" %}
{% load markup %}
{% block title %}Art by Anders Pearson{% endblock %}
{% block bodyclass %}index{% endblock %}
{% block content %}

<div class="gallery">
<div class="strip">{% for image in images %}
<div class="thumb">
<a href="{{image.get_absolute_url}}"
	 title="{{image.title}}"><img src="https://d2f33fmhbh7cs9.cloudfront.net/image/{{image.ahash}}/100h/{{image.id}}{{image.extension}}
"
			height="100" /></a>
</div>{% endfor %}<div class="clear"/></div>
</div></div>

<p>Myopica is the art of Anders Pearson.
All artwork is in the Public Domain. <a href="/books/">Books are available</a>.
Please consider funding me on <a href="https://www.gittip.com/thraxil/">gittip</a>.</p>

<h2>Galleries</h2>
{% for gallery in galleries %}

<div class="gthumb">
{% with first_image=gallery.first_image %}

<a href="{{gallery.get_absolute_url}}"><img src="https://d2f33fmhbh7cs9.cloudfront.net/image/{{first_image.ahash}}/200s/{{first_image.id}}{{first_image.extension}}" width="200" height="200" alt="{{first_image.title}}"/></a>
<h3><a href="{{gallery.get_absolute_url}}">{{ gallery.title }}</a></h3>
{% endwith %}
</div>


{% endfor %}
<div class="clear"></div>

{% endblock %}
